header {
    color: #FF0000;
}

header p {
    font-size: 4em;
    font-family: 'Cormorant Garamond', serif; 

}

body {
    background-color: #fff; 
    color: black; 
    
}

main {
    min-height: 400px;
    background-color: #ffffff; 
    margin-left: auto; 
    margin-right: auto; 
    width: 95%;
}


h1 {
     color: #FF0000; 
     background-color: 	#FFF; 
     font-family: Cinzel, Arial, serif; 
     padding: 5px; 
     padding-left: 10px; 
}
 



footer {
    background-color: black;
    color: white;
    font-size: .70em; 
    font-style: italic; 
    padding-top: 100px; 
    padding-bottom: 10px; 
    text-align: center; 
}

img {
    display: block;
    height: auto;
    width: 100%;   
}

select {
     display: block; 
     margin-bottom: 2em; 
}

table {
     border: 2px solid #ffffff; 
     margin: auto; 
     padding-bottom: 50px; 
     width: 600px; 
}

td {
     background-color: #ffffff; 
     border: 1px solid #0b344d; 
     color: #363636; 
     font-weight: bold; 
     font-family: Cinzel, Arial, serif; 
     font-size: .95em; 
     padding: .5em; 
     text-align: center; 
}

th {
     background-color: #0b344d; 
     color: #ffffff; 
     font-size: 1.15em; 
     font-weight: bold; 
     font-family: Cinzel, Arial, serif; 
     padding: .5em; 
     text-align: center; 
}

input, textarea {
     display: block; 
     margin-bottom: 2em; 
}

label {
     clear: left; 
     float: left; 
     font-size: .75em; 
     margin-bottom: 1em; 
     padding-right: 10px; 
     text-align: right; 
     width: 150px; 
}

form {
     background-image: url(images/); 
     background-color: #ffffff; 
     font-family: Cinzel, Arial, serif; 
     padding: 10px; 
     padding-top: 35px; 
}